# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Docker volumes
mongodb_data/
mosquitto_data/
mosquitto_log/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# External projects
trunk-recorder-mqtt-status/
